.calculated-aspect{
    width: 80vw;
    height: 56.25vw;
}

.larger-padding{
    padding: 106px 0 75px 0 !important;
}

.iframe-container{
    display: flex;
    justify-content: center;
    margin: auto;
}

.video-item{
    width: 100%;
    height: auto;
}

main{
    width: 86vw;
    margin: auto;
}